.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #555;
}

.navbar a.active {
  background-color: #04AA6D; 
}
