/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
.form {
  border: 2px solid black;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 10px; 
}